<h1>Your next event tomorrow is:</h1>
<div></div>
<h2><%=@event_name%> at <%= @event_time%> on <%= @event_day%> </h2>

<form action="/send_text" method="post">
<button>Send reminder text</button>
</form>

<div></div>
<div></div>
<div></div>
Raw datetime info (to delete later)
<%=@event_datetime%>
<div></div>




