<h1>Your next event tomorrow:</h1>
<div></div>
<h2><%=@event_name%></h2>
<h2>is at</h2>
<h2><%= @event_time%></h2>
<h2>on</h2>
<h2><%= @event_day%></h2>
<div></div>
<%=@event_datetime.class%>
<div></div>

<form action="/send_text" method="post">
<button>Send reminder text</button>
</form>


